<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor dolorem doloribus eligendi error expedita ipsum labore neque quo vitae? Ad adipisci architecto cumque cupiditate dolores eveniet expedita facere id in libero, magni maiores nobis nostrum praesentium quo repudiandae soluta!</p>
    </div>
</div>