<div class="jumbotron mt-4">
    <h1 class="display-4">HOSTALTECH APP</h1>
    <p class="lead">prueba matt yujuuu</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="https://hostaltech.com" class="btn btn-primary btn-lg">WEBSITE HOSTALTECH</a>
</div>